---
import '../styles/base.css'

---
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="./favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <title>Analisis de IP</title>
  
</head>
<body class="flex items-top justify-center min-h-screen bg-slate-100">

<slot />
    
</body>
</html>